body{
    background-color: black;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    color: #FF6347;
    font-size: 2.5em;
    margin-top: 20px;

}

h2{
    text-align: center;
    color: #FF6347;
    font-size: 2em;
    margin-top: 20px;
}
.dispCont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
#display{
    text-align: center;
    font-size: 8em;
    margin-top: 20px;
    color: #FF6347;
}

.container{
text-align: center;
}

.button{
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #FF6347;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.5em;
}

.button:hover{
    background-color: #FF4500;
}
.container{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}
