body{
    background-color: black;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    color: #FF6347;
    font-size: 2.5em;
    margin-top: 20px;

}
.container{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}
